body {
    font-family: "Helvetica", arial, sans-serif;
    font-size: 16px;
    margin: 0%;
}



.container {
    display: grid;
    grid-template-areas:

        'left  middle middle right'


}



.left {
    grid-area: left;
}

/* Style the middle column */
.middle {
    grid-area: middle;
}

/* Style the right column */
.right {
    grid-area: right;
    width: 300px;
}

.menu {
    display: flex;
    padding: 25px;
    background-color: gray;
    color: white;
}

.menu li a {
    text-decoration: none;
}

.menu li a:visited {
    color: white;
}

.menu li {
    padding-right: 10px;
    list-style: none;
    color: white;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 14px;
}

.transaction {
    border: 1px solid #ccc;
    width: 300px;
    min-height: 50px;
    padding: 10px;

    line-height: 18px;
    margin-bottom: 10px;
}

.amount {
    font-weight: bold;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

*/ .tag {
    color: #8899A6;
    font-size: 13px;

    display: flex;
    justify-content: flex-start;
}

.description {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: smaller;

}

body>div>aside>form {
    display: flex;
    flex-direction: column;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.date {
    color: #8899A6;
    font-size: smaller;
}