body {
    font-family: "Helvetica", arial, sans-serif;
    font-size: 16px;
    margin: 0%;
}



.container {
    display: grid;
    min-height: 100vh;
    grid-template-areas:

        'left  middle middle right'


}



.left {
    grid-area: left;
}


.middle {
    grid-area: middle;
}

.right {
    grid-area: right;
    width: 300px;
}

.menu {
    display: flex;
    padding: 25px;
    border: 0%;
    background-color: #216869;
    color: #DCE1DE;
}

.menu li a {
    text-decoration: none;
}

.menu li a:visited {
    color: #DCE1DE;
}

.menu li {
    padding-right: 10px;
    list-style: none;
    color: #DCE1DE;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 14px;
}

.transaction {
    border: 1px solid #1F2421;
    width: 400px;
    min-height: 50px;
    padding: 10px;
    font-size: large;
    line-height: 18px;
    margin-bottom: 10px;
}

.amount {
    font-weight: bold;
    font-size: x-large;
    color: #1F2421;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: x-large;
}

*/ .tag {
    color: #8899A6;
    font-size: 13px;

    display: flex;
    justify-content: flex-start;
}

.description {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: smaller;


}

body>div>aside>form {
    display: flex;
    flex-direction: column;
}

a:link {
    text-decoration: none;
    color: #1F2421;
}

a:visited {
    text-decoration: none;
    color: #1F2421;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

.date {
    color: #8899A6;
    font-size: smaller;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: #216869;
    display: flex;
    color: #DCE1DE;
    text-align: left;
    align-items: flex-start;
    justify-content: space-between;
}

.home {
    display: flex;
    list-style: none;
    flex-direction: column;
    grid-area: middle;
    font-size: xx-large;
}

.month_list {
    list-style: none;
}