{% extends "base.html" %}
{% block content %}


<body>


    <main class="middle">

        {% for merchant in merchants %}
        <div class="transaction">
            <a href="/merchants/{{merchant.id}}">{{merchant.name}}</a>
            {% if merchant.active %}
            <p>Active: &#9989;</p>
            {% else %}
            <p>Active: &#10060;</p>
            {% endif %}
            <p><a href="/merchants/{{merchant.id}}/edit">Edit</a></p>

        </div>


        {% endfor %}


    </main>
    <aside class="right">
        <div class="sticky">
            <form action="/merchants" method="POST">

                <label for="merchant">Add Merchant:</label>
                <input type="text" id="merchant" name="merchant" placeholder="Merchant" autofocus required>



                <input class="btn btn--action" type='submit' value="ADD">

            </form>
        </div>
    </aside>

    {% endblock %}