{% extends "base.html" %}
{% block content %}


<main class="middle">

    {{merchant.name}}

    {% for transaction in transactions %}
    <div class="transaction">
        {{transaction.name}}
        {{transaction.tag.name}}
        <div class="date">
            {{ transaction.date.strftime("%b %d %Y") }}
        </div>
        <div class="amount">
            £{{transaction.amount}}
        </div>
    </div>
    {% endfor %}

    <div class="transaction">

        <b>Total spent</b><br>

        <div class="amount">
            £{{total}} <br><br>
        </div>

    </div>


    {% endblock %}