{% extends "base.html" %}
{% block content %}

<main class="middle">






    Select Month
    <ul>
        <li><a href="/transactions/1">January</a></li>
        <li> <a href="/transactions/2">Febuary</a></li>
        <li> <a href="/transactions/3">March</a></li>
        <li> <a href="/transactions/4">April</a></li>
        <li> <a href="/transactions/5">May</a></li>
        <li> <a href="/transactions/6">June</a></li>
        <li> <a href="/transactions/7">July</a></li>
        <li> <a href="/transactions/8">August</a></li>
        <li> <a href="/transactions/9">Septmember</a></li>
        <li> <a href="/transactions/10">October</a></li>
        <li> <a href="/transactions/11">November</a></li>
        <li> <a href="/transactions/12">December</a></li>

    </ul>

</main>

{% endblock %}